{% extends "landing.html" %}

{% block content %}
{% load static %} 
<br/>
hello
{% for pl in placanje %}

<div class="row justify-content-center">
<div class="col-lg-8">
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Broj narudzbe:</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{ pl.narudzba }}</p>
          </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Broj kartice</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{ pl.broj_kartice }}</p>
            </div>
          </div>
          <hr>
        <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Ime kupca</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{ pl.ime_kupca }}</p>
            </div>
          </div>
          <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Prezime kupca</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{ pl.prezime_kupca }}</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Vrijeme placanje</p>
          </div>
          <div class="col-sm-9">
            <p class="text-muted mb-0">{{ pl.vrijeme_placanja }}</p>
          </div>
        </div>
      </div>
    </div></div>

{% endfor %}

{% endblock %}
